{% extends 'base.html' %}
{% block title %}
  category
{% endblock %}
{% block content %}
  <section class="page-header">
    <div class="container-xl">
      <div class="text-center">
        <h1 class="mt-0 mb-2">{{ cat.name }}</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item">
              <a href="{% url 'blog:home' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">All Categories</li>
          </ol>
        </nav>
      </div>
    </div>
  </section>

  <section class="main-content">
    <div class="container-xl">
      <div class="row gy-4">
        <div class="col-lg-12">
          <div class="row gy-4">

            {% for cate in categories %}
              <div class="col">
                <div class="card shadow-sm  text-center bordered-0 ">
                  <div class="card-body ">
                    <div class="card-title">
                      <a href="{% url 'blog:blog_categories' cate.name %}" class="category-badge ">{{ cate.name }}</a>
                    </div>
                    
                  </div>
                </div>
              </div>
             
            {% endfor %}
          </div>
		  <!-- pagination -->
          {% if categories.has_other_pages %}
            <nav>
              <ul class="pagination justify-content-center">
                {% for num in categories.paginator.page_range %}
                  {% if categories.number == num %}
                    <li class="page-item active" aria-current="page">
                      <span class="page-link">{{ num }}</span>
                    </li>
                  {% else %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
          {% endif %}
		  <!-- pagination end -->
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block sidebar %}
  <div class="col-lg-4">
    <!-- post tabs -->
    <div class="post-tabs rounded bordered">
      <!-- tab navs -->
      <ul class="nav nav-tabs nav-pills nav-fill" id="postsTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button aria-controls="popular" aria-selected="true" class="nav-link active" data-bs-target="#popular" data-bs-toggle="tab" id="popular-tab" role="tab" type="button">Popular</button>
        </li>
        <li class="nav-item" role="presentation">
          <button aria-controls="recent" aria-selected="false" class="nav-link" data-bs-target="#recent" data-bs-toggle="tab" id="recent-tab" role="tab" type="button">Recent</button>
        </li>
      </ul>
      <!-- tab contents -->
      <div class="tab-content" id="postsTabContent">
        <!-- loader -->
        <div class="lds-dual-ring"></div>
        <!-- popular posts -->
        <div aria-labelledby="popular-tab" class="tab-pane fade show active" id="popular" role="tabpanel">
          <!-- post -->
          {% for popular in popular %}
            <div class="post post-list-sm circle">
              <div class="thumb">
                <a href="{% url 'blog:blog_detail' popular.slug %}">
                  <div class="inner">
                    <img src="{{ popular.image.url }}" alt="post-title" />
                  </div>
                </a>
              </div>
              <div class="details clearfix">
                <h6 class="post-title my-0"><a href="{% url 'blog:blog_detail' popular.slug %}">{{ popular.title }}</a></h6>
                <ul class="meta list-inline mt-1 mb-0">
                  <li class="list-inline-item">{{ popular.created_at }}</li>
                </ul>
              </div>
            </div>
          {% endfor %}
        </div>
        <!-- recent posts -->
        <div aria-labelledby="recent-tab" class="tab-pane fade" id="recent" role="tabpanel">
          <!-- post -->
          {% for recent in recent %}
            <div class="post post-list-sm circle">
              <div class="thumb">
                <a href="{% url 'blog:blog_detail' recent.slug %}">
                  <div class="inner">
                    <img src="{{ recent.image.url }}" alt="post-title" />
                  </div>
                </a>
              </div>
              <div class="details clearfix">
                <h6 class="post-title my-0"><a href="{% url 'blog:blog_detail' recent.slug %}">{{ recent.title }}</a></h6>
                <ul class="meta list-inline mt-1 mb-0">
                  <li class="list-inline-item">{{ recent.created_at }}</li>
                </ul>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content_body %}

{% endblock %}
