{% extends 'base.html' %}
{% block title %}Login form{% endblock title %}
{% block content %}
  <div class="post-tabs rounded bordered">
    <div class="section-header">
      <h4 class="section-title">Sign In User</h4>
    </div>
    <!-- comment form -->
    <div class="comment-form rounded bordered padding-30" >
      <form id="comment-form" class="comment-form" method="post" action="{% url "accounts:login_account" %}">
        {% csrf_token %}

        <div class="row">
          <div class="column col-md-12">
            <!-- Email input -->
            <div class="form-group">
            {{form.email}}
            </div>
          </div>
          <div class="column col-md-12">
            <!-- password input -->
            <div class="form-group">
              {{form.password}}
      
            </div>
          </div>
        </div>
            {% if form.non_field_errors %}
                <div class="non-field-errors">
                    {% for error in form.non_field_errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

        <button type="submit" name="submit" id="submit" value="Submit" class="btn btn-default">Login</button><!-- Submit Button -->
      </form>
      <div class="d-flex mt-3 justify-content-between">
        <p class="">Not Have an account<a href="{% url "accounts:register_account" %}"> Register Now</a></p>
        <p class="">Forgot Password ?<a href="{% url "accounts:forget_password_account" %}"> Get help</a></p>
      </div>
    </div>
  </div>
{% endblock %}
