{% extends 'base.html' %}
{% block title %}
  reset password form
{% endblock %}
{% block content %}
  <div class="post-tabs rounded bordered">
    <div class="section-header">
      <h4 class="section-title">Reset Password</h4>
    </div>
    <!-- comment form -->
    <div class="comment-form rounded bordered padding-30">
      <form id="comment-form" class="comment-form" method="post" action="{% url 'accounts:final_reset_password' %}">
        {% csrf_token %}

        <div class="row">
          <div class="column col-md-12">
            <!-- Email input -->
            <div class="form-group">
              <input type="password" name="password" class="form-control" placeholder="enter password" />
            </div>
          </div>
          <div class="column col-md-12">
            <!-- Email input -->
            <div class="form-group">
              <input type="password" name="confirm_password" class="form-control" placeholder="confirm password" />
            </div>
          </div>
        </div>
        {% if form.non_field_errors %}
          <div class="non-field-errors">
            {% for error in form.non_field_errors %}
              <p style="color: red;">{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}

        <button type="submit" name="submit" id="submit" value="Submit" class="btn btn-default">Reset Password</button><!-- Submit Button -->
      </form>
    </div>
  </div>
{% endblock %}
